<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Devon Rocks And Stones{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body class="{% block body_class %}body-default{% endblock %}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ path('index') }}">Devon Rocks And Stones</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if tab is defined %}
                <li class="nav-item {{ tab == 'Players' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('app_web_player') }}">Players <span class="sr-only">{{ tab == 'Players' ? '(current)' : '' }}</span></a>
                </li>
                <li class="nav-item {{ tab == 'Active Players' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('app_web_player_active') }}">Active Players <span class="sr-only">{{ tab == 'Active Players' ? '(current)' : '' }}</span></a>
                </li>
                <li class="nav-item {{ tab == 'Hidden Stones' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('app_web_location_hidden_stones') }}">Hidden Stones <span class="sr-only">{{ tab == 'Hidded Stones' ? '(current)' : '' }}</span></a>
                </li>
                <li class="nav-item {{ tab == 'Found Stones Map' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('app_web_location_found_stones_map') }}">Found Stones Map <span class="sr-only">{{ tab == 'Found Stones Map' ? '(current)' : '' }}</span></a>
                </li>
                <li class="nav-item {{ tab == 'Weekly Points' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('app_web_player_weekly_points') }}">Weekly Points <span class="sr-only">{{ tab == 'Weekly Points' ? '(current)' : '' }}</span></a>
                </li>
                {% endif %}
            </ul>
        </div>
        <ul class="navbar-nav mr-auto">
            {% if app.user %}
                <li class="nav-item pull-right">
                    <a class="nav-link" href="{{ path('app_web_logout') }}">You are logged in as {{ app.user.username }} - Logout</a>
                </li>
            {% endif %}
        </ul>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
